In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [161]:
im = pd.read_csv("Datasets/immigrants.csv", skiprows=14, nrows=215)
im.columns=['Birthplace', '1980-1990', '1991-2000', '2001-2010', '2011-2021']

In [162]:
for i in range(len(im)):
    if im['Birthplace'][i][-2:].isdigit():
        im['Birthplace'][i] = im['Birthplace'][i][0:-3]
    if im['Birthplace'][i][-1].isdigit():
        im['Birthplace'][i] = im['Birthplace'][i][0:-2]

    im['1980-1990'][i] = int(im['1980-1990'][i].replace(',', ''))
    im['1991-2000'][i] = int(im['1991-2000'][i].replace(',', ''))
    im['2001-2010'][i] = int(im['2001-2010'][i].replace(',', ''))
    im['2011-2021'][i] = int(im['2011-2021'][i].replace(',', ''))
    if im['1980-1990'][i] == 0 and im['1991-2000'][i] == 0 and im['2001-2010'][i] == 0 and im['2011-2021'][i] == 0:
        im=im.drop(labels=i)
im = im.sort_values(by=['Birthplace'])
im.reset_index(drop=True, inplace=True)
im

                        Birthplace 1980-1990 1991-2000 2001-2010 2011-2021
0                      Afghanistan      3920     14745     22280     21340
1                          Albania        15      4130      8000      5500
2                          Algeria      1345     11745     32430     32580
3                          Andorra         0         0         0        30
4                           Angola       415       390      1315       580
..                             ...       ...       ...       ...       ...
195  Virgin Islands, United States        10         0        20        15
196       West Bank and Gaza Strip      1065      1930      2375      2620
197                          Yemen       120       785      1120      2570
198                         Zambia       480       685       780       845
199                       Zimbabwe       965       985      5225      3850

[200 rows x 5 columns]