In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [97]:
im = pd.read_csv("Datasets/immigrants.csv", skiprows=14, nrows=215)
im.columns=['Birthplace', '1980-1990', '1991-2000', '2001-2010', '2011-2021']

In [98]:
for i in range(len(im)):
    if im['Birthplace'][i][-2:].isdigit():
        im['Birthplace'][i] = im['Birthplace'][i][0:-3]
    if im['Birthplace'][i][-1].isdigit():
        im['Birthplace'][i] = im['Birthplace'][i][0:-2]

    im['1980-1990'][i] = int(im['1980-1990'][i].replace(',', ''))
    im['1991-2000'][i] = int(im['1991-2000'][i].replace(',', ''))
    im['2001-2010'][i] = int(im['2001-2010'][i].replace(',', ''))
    im['2011-2021'][i] = int(im['2011-2021'][i].replace(',', ''))
    if im['1980-1990'][i] == 0 and im['1991-2000'][i] == 0 and im['2001-2010'][i] == 0 and im['2011-2021'][i] == 0:
        im=im.drop(labels=i)
im = im.sort_values(by=['Birthplace'])
im.reset_index(drop=True, inplace=True)
im

                        Birthplace 1980-1990 1991-2000 2001-2010 2011-2021
0                      Afghanistan      3920     14745     22280     21340
1                          Albania        15      4130      8000      5500
2                          Algeria      1345     11745     32430     32580
3                          Andorra         0         0         0        30
4                           Angola       415       390      1315       580
..                             ...       ...       ...       ...       ...
195  Virgin Islands, United States        10         0        20        15
196       West Bank and Gaza Strip      1065      1930      2375      2620
197                          Yemen       120       785      1120      2570
198                         Zambia       480       685       780       845
199                       Zimbabwe       965       985      5225      3850

[200 rows x 5 columns]

In [99]:
gdp = pd.read_csv("Datasets/gdp.csv", skiprows=4, nrows=266, usecols=[0, 55, 65])
gdp.columns = ['Birthplace', 'GDP2011', 'GDP2021']
life = pd.read_csv("Datasets/life.csv", skiprows=4, usecols=[55, 64])
life.columns = ['LE2011', 'LE2020']
comb = pd.concat([gdp, life], axis=1)
comb.dropna(axis=0,subset = ['GDP2011', 'GDP2021', 'LE2011', 'LE2020'], inplace=True)
comb = comb.sort_values(by=['Birthplace'])
comb.reset_index(drop=True, inplace=True)
comb

,Birthplace,GDP2011,GDP2021,LE2011,LE2020
0,Afghanistan,621.912311,368.754614,61.419000,62.575000
1,Africa Eastern and Southern,1792.847428,1537.336021,59.293271,63.313856
2,Africa Western and Central,1856.687669,1757.030626,55.013138,57.226373
3,Albania,4437.142612,6492.872012,78.092000,76.989000
4,Algeria,5473.280550,3690.627878,74.123000,74.453000
...,...,...,...,...,...
229,Vietnam,1953.556979,3756.489121,73.692000,75.378000
230,West Bank and Gaza,2880.798437,3663.969055,73.243000,74.403000
231,World,10471.014284,12234.796802,71.007857,72.265011
232,Zambia,1644.456831,1137.343633,57.771000,62.380000
233,Zimbabwe,1082.615774,1773.920411,53.347000,61.124000

In [100]:
a, b, c, d = [], [], [], []
for m in range(len(comb)):
    for n in range(len(im)):
        if comb['Birthplace'][m] == im['Birthplace'][n]:
            a.append(im['Birthplace'][n])
            b.append(im['2011-2021'][n])
            c.append((comb['GDP2021'][m] - comb['GDP2011'][m]) / comb['GDP2011'][m])
            d.append(comb['LE2020'][m] - comb['LE2011'][m])

data_1121 = pd.DataFrame({'Birthplace':a, 'Immigration':b, 'GDP_Change':c, 'LE_Change':d})
data_1121

              Birthplace  Immigration  GDP_Change  LE_Change
0            Afghanistan        21340   -0.407063    1.15600
1                Albania         5500    0.463300   -1.10300
2                Algeria        32580   -0.325701    0.33000
3                 Angola          580   -0.566955    4.66500
4    Antigua and Barbuda          365    0.203112    1.73700
..                   ...          ...         ...        ...
145       United Kingdom        43010    0.103429   -0.04878
146              Uruguay          580    0.213463    1.44700
147           Uzbekistan         2250   -0.033184    0.68200
148               Zambia          845   -0.308377    4.60900
149             Zimbabwe         3850    0.638550    7.77700

[150 rows x 4 columns]

In [105]:
X = data_1121[['Immigration', 'GDP_Change', 'LE_Change']]
km = KMeans(n_clusters=3, n_init=10).fit(X)
pd.DataFrame(a, km.labels_)

                      0
2           Afghanistan
0               Albania
2               Algeria
0                Angola
0   Antigua and Barbuda
..                  ...
2        United Kingdom
0               Uruguay
0            Uzbekistan
0                Zambia
0              Zimbabwe

[150 rows x 1 columns]